
.homecategory{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 20px 0;
}
.homecategory .container{
    width: 24%;
    min-width: 300px;
    height: 180px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10px;
    margin: 5px;
}
.homecategory .container img{
    width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
}
.homecategory .container .content{
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.homecategory .content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.homecategory .container .content h1{
    font-size: 20px;
    font-weight: 300;
    padding: 0;
    margin: 0;
}
.homecategory .container .content p{
    font-size: 15px;
    font-weight:300;
    margin: 0;
    padding: 0px;
}
.homecategory .container:nth-child(1){
    background-color: #fbdc6e;
    color: rgb(0, 0, 0);
}
.homecategory .container:nth-child(2){
    background-color: #ff9393;
    color: rgb(255, 255, 255);
}


.homecategory .container:nth-child(3){
    background-color: #ffabe4;
    color: rgb(0, 0, 0);
}


.homecategory .container:nth-child(4){
    background-color: #a8d0e6;
    color: rgb(0, 0, 0);
}